@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* -------------------- */
/* Reset */
/* -------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: min-content 1fr;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduce-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* STYLES */
.App {
    --box-shadow-color: rgba(32, 33, 36, .28);
    width: 100vw;
}

.logo-img {
    margin-bottom: 32px;
    position: relative;
}

.logo-img h3 {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lobster', cursive;
    font-size: 1.75rem;
    color: var(--box-shadow-color);
}

.search-wrapper {
    width: 100%;
    position: relative;
    z-index: 100;
}